@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Gallery>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "HomeLayout.cshtml";
}
<style>
    img:hover{
       margin-bottom:10px;
    }
</style>
<center><h2><font color="Orange">Umbraco Community-Events Gallery</font></h2></center>
<div style="margin-left:20px; margin-right:20px;margin-top:40px">
@foreach(IPublishedContent image in @Model.GetPropertyValue<IEnumerable<IPublishedContent>>
        ("upload").ToList())
{
     <img src='@image.Url' height="220" width="220" >
}
<div>
