<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactForm ANY>
<!ATTLIST contactForm id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogList ANY>
<!ATTLIST blogList id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <login id="1057" key="8936d077-ae05-4fb3-be89-add77c79b830" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-13T12:58:17" updateDate="2017-12-13T12:58:17" nodeName="Login" urlName="login" path="-1,1057" isDoc="" nodeType="1052" creatorName="anjali" writerName="anjali" writerID="0" template="1051" nodeTypeAlias="login" isPublished="true">
    <backgroundImage><![CDATA[umb://media/66cb9544de8b4f668468510fafe7fbbe]]></backgroundImage>
    <pageTitle><![CDATA[Umbraco Development]]></pageTitle>
    <footerText><![CDATA[Copyright Umbraco development]]></footerText>
    <home id="1063" key="f92c9130-5672-4ebf-aff6-f7ea3d35e885" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2017-12-13T19:19:13" updateDate="2017-12-14T18:24:56" nodeName="Home" urlName="home" path="-1,1057,1063" isDoc="" nodeType="1062" creatorName="anjali" writerName="anjali" writerID="0" template="1061" nodeTypeAlias="home" isPublished="true">
      <headerText><![CDATA[Umbraco-Open source CMS]]></headerText>
      <features><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: left;\"><img id=\"__mcenew\" src=\"/nothing.jpg\" alt=\"\" data-udi=\"umb://media/e121ea50bd0a4713a21c2ce286e8ed7f\" /><img id=\"__mcenew\" src=\"/media/1002/images.png?width=140&amp;height=137\" alt=\"\" width=\"140\" height=\"137\" data-udi=\"umb://media/e121ea50bd0a4713a21c2ce286e8ed7f\" /></p>\n<p style=\"text-align: left; padding-left: 30px;\"><span>       <em>Umbraco is a fully-featured, open source Content Management System loved by thousands for its flexibility and great editing experience. Use Umbraco for free and install, setup and host it yourself or let us take care of all of that for you on Umbraco Cloud. You get a free 14 day trial and if you get hooked, prices start from just </em></span><em><span class=\"currency-price\" data-eur=\"€25\" data-dkk=\"185 kr.\" data-usd=\"$30\" data-gbp=\"£23\">€25</span>/month.</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "ebfa65c8-bb4b-5f28-36fc-1cc3a91da8bb",
          "active": false
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Recent activities of Umbraco Community",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "5656857a-10a3-effa-beb8-f20396f4eaab",
          "active": true
        },
        {
          "name": "col3",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Umbraco CEO-A familiar face in new role</p>\n<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1003/umbracoceo.jpg?width=190&amp;height=126\" alt=\"\" width=\"190\" height=\"126\" data-udi=\"umb://media/f2faad014f064b519534fdd609bbb7aa\" /></p>\n<p><span>It’s no secret that we love our friendly Umbraco community. No wait, we absolutely adore it! It’s a community that has constantly made us proud and keep surprising us with their excitement, passion and dedication to everything Umbraco - H5YR! </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Umbraco DK meetups, next generation</p>\n<p style=\"text-align: left;\"><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1004/meetup.png?width=185&amp;height=130\" alt=\"\" width=\"185\" height=\"130\" data-udi=\"umb://media/d62fc8eb968549b2af4cd6df153460fe\" /></p>\n<p style=\"text-align: left;\"><span>Around the world, Umbraco meetup groups are gathering on a regular basis to discuss, show and learn about aspects of Umbraco. For example, there is the a group in the Netherlands; </span><a rel=\"noopener noreferrer\" href=\"https://twitter.com/DUUGNL\" target=\"_blank\">@DUUGNL</a><span>, in Scotland; </span><a rel=\"noopener noreferrer\" href=\"https://twitter.com/GLUUG\" target=\"_blank\">@GLUUG</a><span>, in India; </span><a rel=\"noopener noreferrer\" href=\"https://www.meetup.com/Umbraco-Navi-Mumbai-NET-Meetup/\" target=\"_blank\">Umbraco Navi Mumbai .NET Meetup</a></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Umbraco Awards 2017</p>\n<p><img id=\"__mcenew\" style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1001/umbraco-awards.jpg?width=196&amp;height=98\" alt=\"\" width=\"196\" height=\"98\" data-udi=\"umb://media/66cb9544de8b4f668468510fafe7fbbe\" /></p>\n<p><span>How does winning an eye-catching Umbraco Award sound? An award that's only given to the very best Umbraco projects. Not bad, right? This year we have 5 different Umbraco Award categories, all of which shine a light on some of the very best pieces of Umbraco work out there.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "label": "Col3",
          "hasConfig": false,
          "id": "efe32426-ae41-6f33-23a6-f6d2b8fe72f4",
          "active": false
        }
      ]
    }
  ]
}]]></features>
    </home>
    <gallery id="1080" key="712087a7-b683-41f7-828d-82d9ec8b447b" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2017-12-14T11:40:18" updateDate="2017-12-15T14:19:57" nodeName="Gallery" urlName="gallery" path="-1,1057,1080" isDoc="" nodeType="1072" creatorName="anjali" writerName="anjali" writerID="0" template="1071" nodeTypeAlias="gallery" isPublished="true">
      <upload><![CDATA[umb://media/e121ea50bd0a4713a21c2ce286e8ed7f,umb://media/66cb9544de8b4f668468510fafe7fbbe,umb://media/f2faad014f064b519534fdd609bbb7aa,umb://media/d62fc8eb968549b2af4cd6df153460fe,umb://media/6004df04efac411380b6910aab0a63a2,umb://media/504f7016ac574bb2a0212e8eb40d659c,umb://media/aea785e4207b4df69bc25e0de07af594,umb://media/a0f72ad427fa487b82f8f9ad707e0ac9,umb://media/27460c0a0aea4ef28b6ba97478e5780b,umb://media/d105164178ad4eec90c200e0daba3117,umb://media/b00acd015d8b4a4d8de547b5fed09126]]></upload>
    </gallery>
    <blogList id="1087" key="50e106ca-f2c0-4889-b80d-a3624ae70c68" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2017-12-14T16:17:34" updateDate="2017-12-15T15:23:44" nodeName="BlogList" urlName="bloglist" path="-1,1057,1087" isDoc="" nodeType="1086" creatorName="anjali" writerName="anjali" writerID="0" template="1085" nodeTypeAlias="blogList" isPublished="true">
      <blogListing><![CDATA[Blogs- Something more about Umbraco]]></blogListing>
      <blog id="1088" key="8cefd2e0-6d6c-46c6-9eea-d2af3f984842" parentID="1087" level="3" creatorID="0" sortOrder="3" createDate="2017-12-14T16:21:30" updateDate="2017-12-15T15:23:45" nodeName="The Umbraco Ceo -The familiar face in new role" urlName="the-umbraco-ceo-the-familiar-face-in-new-role" path="-1,1057,1087,1088" isDoc="" nodeType="1084" creatorName="anjali" writerName="anjali" writerID="0" template="1083" nodeTypeAlias="blog" isPublished="true">
        <blogContent><![CDATA[<h3>What will Ilham’s tasks be?<br /><br /></h3>
<p><span>Amongst the UCEO’s tasks we find:</span></p>
<ul>
<li><span>Being the ears and voice of the community at HQ.</span><span><br /><br /></span></li>
<li><span>Facilitating the contribution process eg. pull request process and help onboard newcomers to our community.</span><span><br /><br /></span></li>
<li><span>Help where help is needed in regards to arranging Meet-ups, Festivals and other community events</span></li>
</ul>
<h2><br />Ilham will love to hear from you!</h2>
<p><span>We want to ensure that the friendly knowledge sharing culture that’s currently seen in our community will keep on growing. In the coming months, Ilham will collect thoughts and ideas on how we can succeed in this together.</span></p>
<p><span>Therefore, please don’t hold back - reach out to Ilham at </span><span><a href="mailto:ilham@umbraco.com">ilham@umbraco.com</a>,</span><span> say hi and share your thoughts and ideas on how we can make the friendly Umbraco community even friendlier. <br /><br /></span></p>
<p> </p>]]></blogContent>
        <authorName><![CDATA[Paul Seal]]></authorName>
        <blogName><![CDATA[The Umbraco CEO -The familiar face in new role]]></blogName>
        <blogImage><![CDATA[umb://media/f2faad014f064b519534fdd609bbb7aa]]></blogImage>
        <briefDescription><![CDATA[It’s no secret that we love our friendly Umbraco community. No wait, we absolutely adore it! It’s a community that has constantly made us proud and keep surprising us with their excitement, passion and dedication to everything Umbraco - H5YR!]]></briefDescription>
      </blog>
      <blog id="1089" key="44b71e25-382a-4aba-ba5d-d28b9b750420" parentID="1087" level="3" creatorID="0" sortOrder="4" createDate="2017-12-14T16:23:38" updateDate="2017-12-15T15:23:45" nodeName="Changing prices of Umbraco addons" urlName="changing-prices-of-umbraco-addons" path="-1,1057,1087,1089" isDoc="" nodeType="1084" creatorName="anjali" writerName="anjali" writerID="0" template="1083" nodeTypeAlias="blog" isPublished="true">
        <blogContent><![CDATA[<p><span>Like a grocery store, we also need to keep our range of products updated and relevant, both in order to actually sell these products but also in order to provide our clients with products of a certain standard. This also means that we sometimes need to remove products from our shelves in order to make room for better ones or simply because the ones we currently have on our shelves are outdated in regards to newer trends, technologies and demands. This is the case behind the withdrawal of the Courier Express license.</span></p>
<p><span>This doesn’t mean that the Courier product itself will be removed, only the license option called “Courier express”, thus, if you’re currently using Courier you don’t have to worry about us cutting off support or updates to Courier.</span></p>
<p><span>We will still offer the “Courier Full” license. A license that, based on experience and feedback, is found to be of more relevance to our clients due to its revision function which makes it possible to gather not just one, but multiple pieces of data and move them all at once.</span></p>]]></blogContent>
        <authorName><![CDATA[Tehila Jacob]]></authorName>
        <blogName><![CDATA[Removal of courier express and new prices on forms and courier]]></blogName>
        <blogImage><![CDATA[umb://media/d105164178ad4eec90c200e0daba3117]]></blogImage>
        <briefDescription><![CDATA[Changing prices of umbraco add ons]]></briefDescription>
      </blog>
      <blog id="1090" key="8078f460-4ba0-45dd-9370-db870cbc2ca9" parentID="1087" level="3" creatorID="0" sortOrder="5" createDate="2017-12-14T16:55:50" updateDate="2017-12-15T15:23:45" nodeName="Testimonial Ecero on umbraco" urlName="testimonial-ecero-on-umbraco" path="-1,1057,1087,1090" isDoc="" nodeType="1084" creatorName="anjali" writerName="anjali" writerID="0" template="1083" nodeTypeAlias="blog" isPublished="true">
        <blogContent><![CDATA[<h2>Why did we choose Umbraco Cloud?</h2>
<p><span>We, <a href="https://umbraco.com/partners/partnerlist/ecreo/" title="Umbraco Gold Partner Ecreo">Ecreo</a>, already used Umbraco as our preferred platform for building websites and we used Azure as our main hosting platform. However we decided to step up with <a href="https://new-umbraco-com.s1.umbraco.io/campaigns/try-umbraco-today/" title="Try Umbraco Cloud">Umbraco Cloud</a>, because it gives us different possibilities, new advantages in comparison to Azure hosting: automated security updates and environment maintenance to name a couple.</span></p>
<p><span>What we like the most is that Umbraco Cloud enables us to spin up new solutions in a matter of seconds. In the past, we could just as well spin up new solutions on Umbraco fast, but it was an internal system. And now, thanks to Umbraco Cloud, the new solution is online the first second we spin it up. It means that we can collaborate with the client from the first moments and that’s a huge difference: it’s not an internal project, it’s live from the start.</span></p>
<p><a href="https://umbraco.com/partners/partnerlist/ecreo/" title="Umbraco Gold Partner Ecreo"><img id="__mcenew" src="https://umbraco.com/media/2396/smallereditedimg_6807.jpg" alt="" data-udi="umb://media/d5e038c1a9ab42efa7d77fb872a88974" /></a><span class="small-text-faded">Casper Stendal</span></p>
<h2>Umbraco Cloud support team has got your back</h2>
<p><span>We have been working on Umbraco Cloud from its early stages. We can see that it has changed a lot from the beginning to today. The change is twofold:<br /></span></p>
<p><span>☁️ Firstly, the platform matured and has become much more stable, thanks to multiple monthly updates.</span></p>
<p><span>☁️ Secondly, the support team behind Umbraco Cloud has become very accessible, so for us as an agency and also for our clients, it’s very easy to get in contact and get help. Umbraco Cloud support team is giving us confidence: we can keep on moving new solutions to <a href="https://new-umbraco-com.s1.umbraco.io/campaigns/try-umbraco-today/" title="Try Umbraco Cloud">Umbraco Cloud</a> and we can give our customers feedback right after they have submitted an issue.<br /><br /></span></p>
<p><a href="https://umbraco.com/partners/partnerlist/ecreo/" title="Umbraco Gold Partner Ecreo"><span><img id="__mcenew" src="https://umbraco.com/media/2399/smallerimg_6785.png" alt="" data-udi="umb://media/95156de2b74d4a3295225c20b12a52d5" /></span></a></p>
<p><span><br />What can also be mentioned is the automatic updates on Umbraco Cloud. Many have heard horror stories regarding open source software and especially online open source software. However, with <a href="https://new-umbraco-com.s1.umbraco.io/campaigns/try-umbraco-today/" title="Try Umbraco Cloud">Umbraco Cloud</a> and its automatic updates there is no horror: our clients can be confident that their website will be secure and always up-to-date.</span></p>]]></blogContent>
        <authorName><![CDATA[Kim Sneum]]></authorName>
        <blogName><![CDATA[Testimonial Ecero on umbraco]]></blogName>
        <blogImage><![CDATA[umb://media/6004df04efac411380b6910aab0a63a2]]></blogImage>
        <briefDescription><![CDATA[“What differentiates Umbraco Cloud from other CMS platforms is that is is highly scalable. It adapts very well to different business models and different business cases overall, because it doesn’t come with unnecessary features that only stand in the way,”]]></briefDescription>
      </blog>
    </blogList>
    <products id="1097" key="7bcdd3f1-6838-4d3f-bded-0ad27f0f18ba" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2017-12-15T18:06:40" updateDate="2017-12-15T18:06:40" nodeName="Products" urlName="products" path="-1,1057,1097" isDoc="" nodeType="1095" creatorName="anjali" writerName="anjali" writerID="0" template="1094" nodeTypeAlias="products" isPublished="true" />
    <contactForm id="1103" key="a6738b06-cd26-477c-93e4-9c5a7b2c0ccf" parentID="1057" level="2" creatorID="0" sortOrder="5" createDate="2017-12-15T19:35:33" updateDate="2017-12-15T19:35:33" nodeName="ContactUs" urlName="contactus" path="-1,1057,1103" isDoc="" nodeType="1099" creatorName="anjali" writerName="anjali" writerID="0" template="1098" nodeTypeAlias="contactForm" isPublished="true" />
  </login>
</root>